@model CreateRoleViewModel

@{ 
    ViewBag.Title = "Create Role";
    Layout = "_AdminLayout";
}

<h1>Create New Role</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-success">Add Role</button>
            <a asp-action="ListRoles" asp-controller="Role" class="btn btn-outline-warning">Cancel</a>
        </form>
    </div>
</div>