@model EmployeeListViewModel
    @{
        ViewData["Title"] = "Employee List";
    }

    <div class="text-center">

        <div class="navbar navbar-expand-lg justify-content-center">
            <div class="m-2">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
            <form class="form-inline my-2 my-lg-0" method="get">
                <div>
                    @Html.TextBox("name", Model.FilterViewModel.SelectedName, htmlAttributes: new { @class = "form-control" })
                </div>
                <input type="submit" value="Search" class="btn btn-secondary ml-2" />
            </form>
        </div>

        <div class="card-deck justify-content-center">
            @foreach (var emp in Model.Employees)
            {
                @await Html.PartialAsync("ProductSummary", emp);
            }
        </div>
        <div class="text-center">
            <hr />
            <h3><page-link page-model="Model.PagingInfo" page-action="Index"></page-link></h3>
        </div>
    </div>

@*@model ReflectionIT.Mvc.Paging.PagingList<Employee>
    @{
        ViewData["Title"] = "Employee List";
    }
    <div class="text-center">
        <div class="navbar navbar-expand-lg justify-content-center">
            <div class="m-2">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
            <form class="form-inline my-2 my-lg-0" method="get">
                <input name="filter" class="form-control" placeholder="..." value="@Model.RouteValue["Filter"]" />
                <button type="submit" class="btn btn-sm btn-success ml-1">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Search
                </button>
            </form>
        </div>
        <div class="card-deck justify-content-center">
            @foreach (var emp in Model)
            {
                @await Html.PartialAsync("ProductSummary", emp);
            }
        </div>
    </div>
    <div class="m-2 text-center">
        <h5>@await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })</h5>
        <hr />
    </div>*@