<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h5 class="text-danger">You don't have persmission to view this resource</h5>
    <hr />
    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Back</a>
</div>