@model Cart

<div class="m-sm-auto">

    <a class="btn btn-sm btn-secondary navbar-btn"
       asp-controller="Cart" asp-action="Index">
        <i class="fa fa-shopping-cart">
            @if (Model.Lines.Count() > 0)
            {
                <small class="navbar-text text-white">
                    @Model.Lines.Sum(x => x.Quantity)
                </small>
            }
        </i>
    </a>
</div>